<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"> <ui:composition>
	
<p:outputLabel value="#{messages.label_appointmentdetails}"
							for="appointmentdetails" />
						<h:outputText id="appointmentdetails"
							value="#{appointmentBean.appointment.appointmentDetails}" />

						<h:outputLabel for="patientInput"
							value="#{messages.label_patient2}" />
						<h:outputText id="patientInput"
							value="#{appointmentBean.appointment.patient.toStringNameAndSurname()}" />

						<h:outputLabel for="doctorInput" value="#{messages.label_doctor2}" />
						<h:outputText id="doctorInput"
							value="#{appointmentBean.appointment.doctor.toStringNameAndSurname()}" />

						<p:outputLabel value="#{messages.label_appointmentstartDate}"
							for="appointmentstartdate" />
							<h:outputText id="appointmentstartdate" value="#{appointmentBean.appointment.appointmentStartDate}">
							<f:convertDateTime pattern="dd.MM.YYYY HH:mm" />
							
						</h:outputText>

						<p:outputLabel value="#{messages.label_appointmentEndtDate}"
							for="appointmentenddate" />
							<h:outputText id="appointmentenddate" value="#{appointmentBean.appointment.appointmentEndtDate}">
							<f:convertDateTime pattern="dd.MM.YYYY HH:mm" />
						</h:outputText>

</ui:composition> </html>