<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"> 
	<ui:composition>


<p:outputLabel value="#{messages.label_name}" for="firstname" />
	<p:inputText id="firstname" value="#{doctorBean.doctor.firstName}"
		required="true" requiredMessage="#{messages.required}">
		<p:clientValidator event="keyup" />
		<f:validateLength minimum="3" maximum="20" />
	</p:inputText>
	<p:message for="firstname" />

	<p:outputLabel value="#{messages.label_surname}" for="surname" />
	<p:inputText id="surname" value="#{doctorBean.doctor.surname}"
		required="true" requiredMessage="#{messages.required}">
		<p:clientValidator event="keyup" />
		<f:validateLength minimum="3" maximum="20" />
	</p:inputText>
	<p:message for="surname" />

	<p:outputLabel value="#{messages.label_profession}" for="profession" />
	<p:inputText id="profession" value="#{doctorBean.doctor.profession}"
		required="true" requiredMessage="#{messages.required}">
		<p:clientValidator event="keyup" />
		<f:validateLength minimum="3" maximum="20" />
	</p:inputText>
	<p:message for="profession" />

</ui:composition> </html>