<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"> <ui:composition>

	<p:column filterBy="#{doctor.firstName}" sortBy="#{doctor.firstName}"
		filterMatchMode="contains">
		<f:facet name="header">
			<h:outputText value="#{messages.label_name}" />
		</f:facet>
		<h:outputText value="#{doctor.firstName}" />
	</p:column>

	<p:column filterBy="#{doctor.surname}" sortBy="#{doctor.surname}"
		filterMatchMode="contains">
		<f:facet name="header">
			<h:outputText value="#{messages.label_surname}" />
		</f:facet>
		<h:outputText value="#{doctor.surname}" />
	</p:column>

	<p:column filterBy="#{doctor.profession}" sortBy="#{doctor.profession}"
		filterMatchMode="contains">
		<f:facet name="header">
			<h:outputText value="#{messages.label_profession}" />
		</f:facet>
		<h:outputText value="#{doctor.profession}" />
	</p:column>

</ui:composition> </html>