<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"> <ui:composition>
	
	<p:outputLabel value="#{messages.label_surname}" for="surname" />
	<h:outputText id="surname" value="#{doctorBean.doctor.surname}" />
	
	<p:outputLabel value="#{messages.label_name}" for="firstName" />
	<h:outputText id="firstName" value="#{doctorBean.doctor.firstName}" />

	<p:outputLabel value="#{messages.label_profession}" for="profession" />
	<h:outputText id="profession" value="#{doctorBean.doctor.profession}" />

	<p:outputLabel value="#{messages.labe_doctorpatientslist}"
		for="doctorpatientslist" />

	<p:dataList id="doctorpatientslist"
		value="#{doctorBean.getPatientList()}" var="pat" dropdown="true">
       					 #{pat.firstName} #{pat.surname}
  						  </p:dataList>

</ui:composition> </html>