<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"> 
	<ui:composition>

<p:outputLabel value="#{messages.label_subject}" for="subject" />
	<h:outputText id="subject" value="#{mailBean.mail.subject}"
		required="true" requiredMessage="#{messages.required}">
	</h:outputText>
<!-- 	<p:message for="subject" /> -->

	<p:outputLabel value="#{messages.label_body}" for="body" />
	<h:outputText id="body" value="#{mailBean.mail.body}"
		required="true" requiredMessage="#{messages.required}">
	</h:outputText>
<!-- 	<p:message for="body" /> -->

	<p:outputLabel value="#{messages.label_date}" for="date" />
	<h:outputText id="date" value="#{mailBean.mail.dateMail}"
		required="true" requiredMessage="#{messages.required}">
		 <f:convertDateTime timeStyle="short" pattern="EEE, dd/MM/YYYY HH:mm" type="both" />
	</h:outputText>
<!-- 	<p:message for="date" /> -->
	
		<p:outputLabel value="#{messages.label_appointment}" for="appointment" />
	<h:outputText id="appointment" value="#{mailBean.mail.appointment.toStringAppointment()}"
		required="true" requiredMessage="#{messages.required}">
	</h:outputText>
<!-- 	<p:message for="appointment" /> -->
	
	<p:outputLabel value="#{messages.label_send}" for="send" />
	<h:outputText id="send" value="#{mailBean.mail.send}"
		required="true" requiredMessage="#{messages.required}">
	</h:outputText>

<p:outputLabel value="#{messages.label_description}" for="description" />
	<h:outputText id="description" value="#{mailBean.mail.description}"
		required="true" requiredMessage="#{messages.required}">
	</h:outputText>
	


</ui:composition> </html>